.comp-container {
  background-color: rgb(241, 255, 162);
  padding: 28px;
}
.form-submit {
  transition: 0.1s ease-in-out;
}
.form-submit:hover {
  background-color: rgb(177, 161, 255);
  color: white;
}
.comp-button {
  background-color: #fff !important;
  padding: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.1s ease-out;
}
.comp-button:hover {
  background-color: rgba(255, 246, 246, 0.746) !important;
}
.hide_class {
  display: none;
}
